/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@100..600&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-- Define color for later use --*/

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
$primary: #0096c7;



// Body
$body-color:                 $gray-800;
$body-secondary:             #6C757D;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:     "Red Hat Text", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $font-family-serif: "Petrona", serif,;
$headings-font-weight:       400;

$font-family-monospace:      "Dank Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$headings-font-family:       "Petrona";

/* page title  */
#quarto-content .subtitle {
    padding-top: 10px;
    font-size: 1.0em;
}

h1.title, .title.h1 {
  margin-top: 2em;
}


/*social links*/


div.quarto-about-trestles .about-entity .about-links {
    row-gap: 1em;
    width: 100%;
    padding-bottom: 1.5em;
    flex-direction: row !important;
}

div.quarto-about-trestles .about-entity .about-links {
    display: flex;
}

.about-entity .about-link {
    padding: 0.25em 0.25em !important;
    border: none !important;
}

.about-entity .about-links {
    justify-content: center !important;
    column-gap: 0em !important;
    font-size: 1.2em !important;
}

  /* about area */
  .about-entity {
    margin: 0em 0em 0em 0em;
  }
  


.navbar {
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #5888b9;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-family: "Balsamiq Sans"!important;
    font-size: 1.2em;
}

/* @import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css); */




